h1{
    color: lightseagreen;
}
p{
    text-align: center;
}
fieldset{
    display: grid;
    grid-template-columns: repeat(1fr,1fr);
}
label{
    width: 150px;
    grid-column: 1/2;
}
input{
    grid-column: 2;
    margin-right: 200px;
}



