h1{
    color: lightseagreen;
}
p{
    text-align: center;
}
label{
    width: 110px;
}
.petit{
    width:50px;
    position: absolute;
    left: 150px;

}
.normal{
    width: 150px;
    position: absolute;
    left: 150px;

}
.grand{
    width: 250px;
    position: absolute;
    left: 150px;
}



